<h1>Pages#home</h1>

<% if current_user %>
<%= link_to 'catalog', items_url %>

<%= link_to 'logout', destroy_user_session_path, method: :delete %>


<% else %>
<%= link_to 'login', new_user_session_path %>

<% end %>