<% if current_user %>
  <h2>Price list</h2>
  <%= render @items %>
  <%= link_to 'logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'login', new_user_session_path %>
<% end %>